.ftr-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ftr-center{
  display: flex;
  width: 100%;
  flex-direction: column;
  text-transform: uppercase;
  line-height: 0;
  margin-top: 20px;
}

.ftr-center h3{
  color: #FF9C40;
  text-align: center;
  font-size: 34.463px;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
}

.ftr-center span{
  color: #FFFFFF;
}

.ftr-option{
  width: 100%;
}

.ftr-section{
  display: flex;
  width: 100%;
  flex-direction: column;
  display: flex;
  /* padding: 50px 50px 0 10px; */
  background-color: #fff8f1;
  position: relative;
  height: 385px;
  background-color: #2B275A;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 90%;
}

h1{
  color: #FFF;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 64px */
  text-transform: capitalize;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ftr-text-section{
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 30px;
  width: 100%;
  color: #fff;
}
.sub-name {
  display: block;
}
.ftr-img1 {
  width: 520px;
  mix-blend-mode: overlay;
  /* height: 500px; */
}
.ftr-img2 {
  width: 400px;
  height: 80%;
}
.ftr-abt-ttl {
  text-align: center;
  padding: 0 0 0 50px;
}
.ftr-left-ttl1 {
  color: #ff8412;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.ftr-left-ttl2 {
  font-size: 30px;
  color: #2b275a;
  margin: 0;
}
.ftr-mdl-txt1 {
  font-size: 14px;
  color: #2b275a;
  text-align: left;
}
.ftr-avbl {
  font-size: 20px;
  color: #ff8412;
  font-weight: bold;
}
.ftr-mdl {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.ftr-left-mid {
  display: flex;
}
.download-store {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.apple,
.playstore {
  width: 100px;
}
.ft-detail-link div {
  white-space: nowrap;
}
.ftr-links {
  display: flex;
  /* position: absolute;
  right: 10px; */
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  /* top: 170%; */
  position: absolute;
  bottom: 20px;
  right: 60px;
}
.ft-detail-link {
  display: flex;
  gap: 20px;
  color: #655d95;
  font-size: 12px;
  font-weight: 600;
  margin: 0;
}
.insta-logo,
.twtr-logo,
.fcbk-logo {
  background: #ff8412;
  padding: 12px;
  border-radius: 100%;
  color: #fff;
  font-size: 18px;
}
.ft-scl {
  display: flex;
  gap: 10px;
}
.ftr-right {
  display: flex;
  flex-direction: column;
}
.hr-line {
  display: none;
}

/* .ftr-main::before {
  left: 0;
  clip-path: polygon(0 0, 100% 100%, 0 100%);
}

.ftr-main::after {
  right: 0;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
} */
/* .ftr-main::before {
  content: "";
  position: absolute;
  bottom: 50%; 
  left: 0;
  width: 100vw;
  height: 8%;
  background-image: linear-gradient(
    to right,
    orange 0%,
    transparent 50%,
    orange 100%
  );
  border-radius: 50% 50% 0 0 / 50% 50% 0 0;
} */

.ftr-section-1 {
  background-color: #fff8f2;
  padding: 40px 20px;
  text-align: center;
}

.ftr-section-2 {
  color: #FF8412;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%; /* 32px */
  text-transform: capitalize;
  margin-bottom: 10px;
}

.ftr-section-3 {
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.apple {
  height: 60px;
  object-fit: contain;
}

/* Core Values Section */
.ftr-section-4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  background-color: #fff8f2;
}

.ftr-left-ttl2 {
  max-width: 250px;
  font-size: 18px;
  color: #888;
  line-height: 1.5;
  flex: 1 1 100%;
  text-align: left;
}
.ftr-left-ttl2 span {
  color: #2B275A;
  font-family: Metropolis;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1; /* 26px */
}

.ftr-left-ttl2 .sub-name {
  display: block;
  color: #ff7300;
  font-size: 40px;
  font-weight: 700;
}


.ftr-section-5 {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  /* margin-top: 20px; */
}

.ftr-section-5 .apple {
  height: 190px;
  width: 150px;
  background-color: #fff;
  object-fit: contain;
  display: block;
}

.ftr-crad {
  position: relative;
}
.ftr-crad span{
 position: absolute;
 bottom: 10%;
 align-items: center;
 left: 50%;
 transform: translate(-50%);
}

.ftr-section-revares1{
  display: flex;
  align-items: center;
  gap: 40px;
}


.ftr-section-revares1 img{
    width: 200px;
    height: 160px;
}

.ftr-section-revares2 img{
    width: 200px;
    height: 160px;
}

.ftr-section-revares2{
  display: flex;
  align-items: center;
  gap: 40px;
}

@media only screen and (max-width: 767px) {
  .ftr-section-2{
    font-size: 16px
  }

  .ftr-left-ttl2 {
    text-align: center;
    line-height: 0;
  }

  .ftr-section-3 {
    gap: 10px;
  }

  .ftr-section-3 img {
      width: 120px;
      height: 100px;
  }

  .ftr-section-revares2{
    display: flex;
    flex-direction: row-reverse;
  }

  .ftr-section-3{
    margin-bottom: 0;
  }

  .ftr-left-ttl2 .sub-name{
   font-size: 16px;
  font-style: normal;
  font-weight: 800;
  }

  .ftr-left-ttl2 span{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  }

  .ftr-section-1{
    padding: 30px 0 0 0;
  }

  .ftr-section-4{
    gap: 10px;
    width: 100%;
    padding: 20px 0;
  }

  .ftr-section-5{
    display: flex;
    justify-content: start;
    gap: 16px;
    flex-wrap: nowrap;
    margin-top: 10px;
    overflow: scroll;
    padding-left: 20px;
  }

  h1{
    font-size: 40px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
  }

  .ftr-center h3{
    font-size: 20px;
  }

  .ftr-section{
    height: 365px;
  }

  .sub-name {
    display: flex;
  }
  .ftr-img1 {
    width: 310px;
    height: 200px;
    mix-blend-mode: overlay;
  }
  .ftr-main {
    flex-direction: column;
    padding: 0;
    align-items: center;
    /* gap: 50px; */
    background-size: 100% 80%;
  }
  .ftr-img2 {
    width: 320px;
  }
  .ftr-left-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .ftr-abt-ttl {
    text-align: center;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .ftr-mdl-txt1 {
    text-align: center;
  }
  .ftr-mdl {
    gap: 10px;
  }
  .ftr-links {
    flex-direction: column-reverse;
  }
  .hr-line {
    display: block;
    width: 90vw;
    margin: 0;
  }
  .ftr-links {
    position: static;
  }
  
  .ftr-text-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 13.2px */
    text-transform: capitalize;
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .ftr-section-revares1{
  display: flex;
  align-items: center;
  gap: 10px;
}


.ftr-section-revares1 img{
    width: 150px;
    height: 160px;
}

.ftr-section-revares2 img{
    width: 150px;
    height: 160px;
}

  .ftr-section-revares2{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .ftr-section-3{
    gap: 10px;
  }
    .ftr-section-4{
    gap: 40px;
  }

  h1 {
  font-size: 28px;
  }

  .ftr-left-ttl2{
    max-width: 200px;
  }
  .ftr-left-ttl2 .sub-name{
    font-size: 32px;
  }

  .ftr-left-ttl2 span{
    font-size: 13px;
  }
  .ftr-section-5{
    gap: 18px;
  }
  
  .ftr-section-5 .apple{
    width: 100px;
    height: 140px;
  }



  .ftr-text-section span{
    font-size: 14px;
  }
}