@font-face {
  font-family: "Metropolis";
  src: url("../src/assets/metropolis/Metropolis-Regular.otf") format("opentype");
}

/* Regular */
@font-face {
  font-family: "Metropolis";
  src: url("../src/assets/metropolis/Metropolis-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "Metropolis";
  src: url("../src/assets/metropolis/Metropolis-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

/* Bold Italic */
@font-face {
  font-family: "Metropolis";
  src: url("../src/assets/metropolis/Metropolis-BoldItalic.otf")
    format("opentype");
  font-weight: bold;
  font-style: italic;
}

body {
  margin: 0;
  font-family: "Metropolis", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
